.container
 .col-md-8
  %h3 Edit your Post
  %br/
  %br/
  %br/
  = render 'form'
  %br/
  %br/
  = link_to 'New', new_post_path
  = '|'
  = link_to 'Home', root_path
  = '|'
  = link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}