.container
 .col-md-8
  %h3 Your Post
  %br
  

  %h3= @post.title
  %p= @post.content
  %p= @post.company
  %br
  %br
  = link_to 'New', new_post_path
  = '|'
  = link_to 'Home', root_path
  = '|'
  = link_to 'Edit', edit_post_path(@post)